---
import Layout from "../../layouts/Layout.astro";
import type { StudentDetails } from "../../types/types";

// Extract the `id` parameter from the Astro route (selected student)
const { id } = Astro.params;

// Initialize a default student object with empty values
let student: StudentDetails = {
    personalData: {
        student_id: 0,
        full_name: "",
        email: "",
    },
    academicRecords: {
        student_code: "",
        career: "",
        average_score: 0,
        enrollment_cycle: "",
        graduation_cycle: "",
        approved_credits: 0,
        pending_credits: 0,
        division: "",
    },
    requests: [],
};

// Fetch student details from the API
try {
    const response = await fetch(
        `http://localhost:4321/api/students_info/details/${id}`,
    );

    if (!response.ok) {
        console.error("Error fetching student information");
    } else {
        // Parse the response as JSON and cast it to the `StudentDetails` type
        student = (await response.json()) as StudentDetails;
    }
} catch (err) {
    console.error("Fetch error:", err);
}
---

<Layout title="Detalles del estudiante">
    <h1>{student.personalData.full_name}</h1>

    {
        student.requests.length > 0 ? (
            <ul>
                {student.requests.map((request) => (
                    <li>{request.available_subjects.name}</li>
                ))}
            </ul>
        ) : (
            <p>No requests</p>
        )
    }
    <a href={`/students/transcription/${id}`}>Ver declaración</a>

    {
        student.requests.length > 0 && (
            <div>
                <button id="accept" data-id={id} data-status="accepted">
                    Aprobar
                </button>
                <button id="deny" data-id={id} data-status="rejected">
                    Denegar
                </button>
            </div>
        )
    }
</Layout>

<script>
    // Get the accept and deny buttons
    const acceptButton = document.getElementById("accept");
    const denyButton = document.getElementById("deny");

    if (!acceptButton || !denyButton) {
        throw new Error("Buttons not found");
    }

    // Add event listeners (click) to the buttons
    acceptButton.addEventListener("click", () => {
        const studentId = acceptButton.dataset.id;
        const status = acceptButton.dataset.status;

        if (!studentId || !status) {
            throw new Error("ID or Status not found");
        }

        handleStatusChange(studentId, status);
    });

    denyButton.addEventListener("click", () => {
        const studentId = denyButton.dataset.id;
        const status = denyButton.dataset.status;

        if (!studentId || !status) {
            throw new Error("ID or Status not found");
        }

        handleStatusChange(studentId, status);
    });

    async function handleStatusChange(studentId: string, status: string) {
        try {
            const response = await fetch(
                "http://localhost:4321/api/students_info/request_status",
                {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        student_id: studentId,
                        requestStatus: status,
                    }),
                },
            );

            if (!response.ok) {
                console.error("Error updating student requests");
            } else {
                // Reload the page to reflect the changes
                window.location.href = "/";
            }
        } catch (err) {
            console.error("Fetch error:", err);
        }
    }
</script>
